<article>
  <header>
    <h1>
      <a href="<%= url(article.slug) %>"><%= article.title %></a>
    </h1>
    <time class="timeago" datetime="<%= article.date.xmlschema %>">
      <%= article.date.strftime "%Y/%m/%d" %>
    </time>
  </header>
  <section class="content">
    <%= markdown article.content %>
  </section>
  <section class="comments">
    <div>
      コメント: <br>
      <%= CGI.escapeHTML(article.comments || '').gsub(/(\r\n|\r|\n)/, '<br>') %>
    </div>
  </section>
  <section class="post-comment">
    <form method="post" action="/<%= username %>/post/<%= article.slug %>">
      <textarea name="comment"></textarea>
      <input type="submit" value="コメント">
    </form>
  </section>
</article>
